* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

header {
    margin-bottom: 20px;
}

#email, #submit {
    display: block;
}

#email {
    width: 20%;
    margin: 20px auto;
}

#submit {
    width: 10%;
    margin: 0 auto;
    padding: 4px;
    background-color: yellow;
}

#front-page {
    min-height: 100vh;
    background-color: antiquewhite;
    text-align: center;
    padding-top: 10%;
}
.nav-link{
    scroll-behavior: smooth;
}

@media (min-width: 769px) {
     ul, li {
         display: inline-block;
     }

     header {
         padding-top: 2em;
         display: flex;
         flex-direction: row;
         justify-content: end;
     }

     #header-img {
         width: 20%;
         margin-right: auto;
     }
     
}





